@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background: linear-gradient(240deg, darkred, #09071b
  );
  height: 100vh;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-left: 5px;
}
.nav{
  display: flex;
  list-style: none;
}

.nav >li{
  margin-left: 10px;
}

.Logo_start{
  height: 100px;
  width: auto;
}

.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.main-text{
  font-size: 1.5rem;
  margin: 10px 0;
  width: 200px;
  margin-left: 10px;
}

.main-text p{
  margin-top: 20px;
  font-size: 16px;
}

.main-text h1 span{
  color: greenyellow;
}
.YT {
  background-color: #09071b00;
  border: red 2px solid;
  color: red;
  width: 50px;
  height: 35px;
  border-radius: 4px;
}

.DD {
  background-color: #09071b00;
  border: blue 2px solid;
  color: mediumpurple;
  width: 50px;
  height: 35px;
  border-radius: 4px;
}

.outros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 50vh;
  background: #110020;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 50%;
  
}

.header2 {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.header2 span{
  color: #e560ff;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background-color: #20002b;
  margin: 20px;
  border-radius: 20px;
}

.hora-brasilia {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 5px;
}

.cc {
  color: blue;
}

.secret{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  background-color: #20002b;
  margin: 20px;
  border-radius: 20px;
}
.introduction-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1b1e34;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 10000;
  transition: opacity 1s ease;
}

.introduction-container.hidden {
  opacity: 0;
  pointer-events: none;
}